@media screen and (min-width: 1011px) {
  #content {
    width:680px !important;
  }
}

select {
  width: auto !important;
  width: 110% !important;
}

@media screen and (max-width: 768px) {

  .buttons {
    text-align: center;
  }

  .uw_studentbudget_calculator_total {
    float:right;
    margin-left: 55px !important;
  }
}

select {
  margin: 0 !important;
}

span.field-suffix {
  line-height: 2.5;
}

.uw_studentbudget_calculator_monthly, .uw_studentbudget_calculator_nonmonthly {
  width: 7em !important;
}

div.uw_studentbudget_calculator_mainsection:nth-child(2){
	margin-bottom: 30px;
}

input.form-text {
  text-align: left;
}

.uw_studentbudget_calculator_nonmonthly {
  margin: 0 !important;
}

.uw_studentbudget_calculator_monthly {
  float:left;
}

.uw_studentbudget_calculator_total {
  float:right;
  margin-left: 420px;
}

div.uw_studentbudget_calculator_mainsection div.form-type-textfield {
  margin:15px 0 0 0;
}

div.uw_studentbudget_calculator_mainsection div.form-type-textfield div.description {
  margin:0;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_otheritems_wrapper div.uw_studentbudget_calculator_otheritems_description_item input.form-text {
  margin:-23px 85px 0 0px;
  text-align: left;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_otheritems_wrapper div.uw_studentbudget_calculator_otheritems_value_item input.form-text {
  margin:-38px 0 0 0px;

}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_inputgroup_amount input.form-text {
  margin-top:-8px;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_inputgroup_month input.form-text {
  margin-top:-5px;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_inputgroup_month div.description {
  margin-top:-6px;
}

div#edit-uw-studentbudget-calculator-study-period {
	margin-top: 0.5em;
}

div.uw_studentbudget_calculator_mainsection h2 {
	margin-top: 1em;
}

div.uw_studentbudget_calculator_mainsection h3 {
	margin-top: 0.8em;
}

div.form-radios .form-item-uw-studentbudget-calculator-study-period {
  display:inline;
  padding-right: 6.743em;
}

.studyperiod-table .studyperiod-tr .studyperiod-td {
	border-style: none;
	padding: 0;
}
.studyperiod-table .studyperiod-tr .studyperiod-td .form-item {
	margin-bottom: 0;
	margin-top: 0.5em;
}

#uw-studentbudget-calculator-displayform table {
	margin:0em;
}

#uw_oncampus_groceries >:first-child{
  margin-bottom: 0;
}

ul.uw-studentbudget-calculator {
  margin-left: 0 !important;
  padding-left: 0 !important;
  list-style-position: inside;
}
